// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.btn {
  border: 1px solid black;
  background-color: white;
  color: green;
  border-color: #04AA6D;
  padding: 2px 2px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}